*{box-sizing:border-box

}

body{

margin:0;

font-family:Segoe UI;

background:linear-gradient(135deg,#1e3a8a,#9333ea,#ec4899);

color:#fff;

}

.container{

display:flex;

height:100vh;

}

/* Sidebar */

.sidebar{

width:220px;

background:rgba(0,0,0,0.4);

backdrop-filter:blur(10px);

padding:20px;

}

.sidebar h2{

margin-bottom:30px;

color:#facc15;

}

.sidebar li{

list-style:none;

padding:10px;

cursor:pointer;

border-radius:8px;

transition:0.3s;

}

.sidebar li:hover{

background:#6366f1;

}

/* Main */

.main{

flex:1;

padding:25px;

overflow:auto;

}

/* Header */

header{

display:flex;

justify-content:space-between;

margin-bottom:20px;

}

header input{

padding:8px;

border:none;

border-radius:6px;

outline:none;

}

/* Analytics */

.analytics{

display:flex;

gap:20px;

margin-bottom:20px;

}

.card{

flex:1;

background:rgba(255,255,255,0.1);

backdrop-filter:blur(10px);

padding:20px;

border-radius:12px;

box-shadow:0 4px 15px rgba(0,0,0,0.3);

}

.card h3{

margin:0;

font-size:28px;

color:#facc15;

}

/* Progress bar */

.progress-bar{

height:8px;

background:#94a3b8;

border-radius:10px;

margin-top:10px;

}

.progress{

height:8px;

background:linear-gradient(90deg,#22c55e,#4ade80);

border-radius:10px;

width:0%;

}

/* Task form */

.task-form{

display:flex;

gap:10px;

margin-bottom:20px;

flex-wrap:wrap;

}

.task-form input,

.task-form select{

padding:8px;

border:none;

border-radius:6px;

outline:none;

}

/* Button */

button{

background:linear-gradient(45deg,#6366f1,#ec4899);

color:white;

border:none;

padding:8px 12px;

border-radius:6px;

cursor:pointer;

transition:0.3s;

}

button:hover{

transform:scale(1.05);

}

/* Board */

.board{

display:flex;

gap:20px;

}

/* Columns */

.column{

flex:1;

background:rgba(255,255,255,0.1);

backdrop-filter:blur(10px);

padding:15px;

border-radius:12px;

min-height:300px;

box-shadow:0 4px 15px rgba(0,0,0,0.3);

}

.column h3{

text-align:center;

color:#facc15;

}

/* Task */

.task{

background:#1e293b;

padding:12px;

margin:10px 0;

border-radius:8px;

transition:0.3s;

}

.task:hover{

transform:translateY(-2px);

}

.task small{

display:block;

color:#cbd5f5;

}

/* Priority */

.priority-high{

border-left:5px solid #ef4444

}

.priority-medium{

border-left:5px solid #f59e0b

}

.priority-low{

border-left:5px solid #22c55e

}

/* Overdue */

.overdue{

background:#7f1d1d

}